* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-websit {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(137, 250, 212), rgb(72, 201, 176), rgb(52, 152, 219));
}

.operater {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.726);
    background: linear-gradient(100deg, rgba(41, 211, 118, 0.7), rgba(81, 177, 150, 0.8), rgba(72, 140, 120, 0.9));
}

.operater1 input,
.operater4 input {
    margin-bottom: 20px;
    padding: 5px;
    margin-right: 5px;
    background-color: rgb(198, 250, 233);
    border: none;
    

}

.operater1 select,
.operater4 select {
    text-align: center;
    width: 90px;
    padding: 5px;
    background-color: rgb(198, 250, 233);
    border: none;
  

}

.result {
    width: 77px;
    height: 30px;
    color: #fcfcfc;
    background-color: rgb(34, 156, 95);
    border: 1px solid whitesmoke;
    border-radius: 10%;
}

@media (max-width: 400px) {
    .operater {
        padding: 25px;
        
    }
 
}
@media (max-width: 337px) {
    .operater {
        padding: 10px;
        
    }
}
